img{

    width:250px;
    height:250px;
    /* border-radius: 60% ; */ 
    
   
}
.wissam
{

    width:200px;
    height:200px;
    background-color:blueviolet;
    margin: 5px;
}

.dania
{
    background-color: burlywood;
}

.anas
{

    border-radius: 50% ;

}

.sasa
{

    border-radius: 50% ;

}
